{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center mb-3">Human Resource Summary</h1>
    <br><br>
    <div class="card mb-3">
        <div class="card-body">
            <a class="btn btn-dark" href="{% url 'human_resource:staff_money' %}">Staff Budget Summary</a>
            <br><br><br><br><br>
            <a class="btn btn-success" href="{% url 'human_resource:squad_money' %}">Squad Budget Summary</a>
            <br><br><br><br><br>
            <a class="btn btn-dark" href="{% url 'human_resource:project_money' %}">Project Budget Summary</a>
            <br><br><br><br><br>
            <a class="btn btn-success" href="{% url 'human_resource:available_hr' %}">Available HR Summary</a>
            <br><br><br><br><br>
            <a class="btn btn-dark" href="{% url 'human_resource:project_timeline' %}">Project Timeline Summary</a>
        </div>
    </div>
{% endblock %}
